.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0f2f5;
}

.login-box {
  width: 380px;
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.login-box button {
  width: 100%;
  padding: 9px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 5px;
}

.links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  gap:5px;
}

.forgot-btn{
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-weight: 500;
}
.two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.two h2 {
  margin: 0;
  font-size: 1em;
  white-space: nowrap; 
}

.register-btn {
  margin-left: 0; 
  width: auto; 
  padding: 6px 15px; 
  font-size: 0.9em;
  background-color: #007bff;
  color: #fff;
}